@page "/"
@namespace Feedster.Web.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "_Layout";
}

<head>
    <title>Tailwind via NPM</title>
    <base href="/" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<component type="typeof(App)" render-mode="ServerPrerendered" />
