@page "/"

@inject ArticleRepository _articleRepo

<PageTitle>Feedster - Home</PageTitle>
<h5 class="mb-2 font-bold tracking-tight dark:text-white space-mono" style="font-size: 3.5em; display:inline-block;">Home</h5>
<a class=" text-gray-300 ml-2" style="display:inline-block">v0.8.0</a>

<!-- ALL ARTICLE CARDS -->
<ArticlesList _allArticles=@_articles />


@code {
    private List<Article> _articles = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadArticles();
    }
    private async Task LoadArticles()
    {
        _articles = (await _articleRepo.GetAll()).OrderByDescending(x => x.PublicationDate).ToList();
    }
}