@inherits LayoutComponentBase

<PageTitle>Feedster.Web</PageTitle>

<div class="page">
    <div class="position-absolute top-0 border-end border-bottom">
        <NavMenu/>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
