@inherits LayoutComponentBase

<PageTitle>Feedster</PageTitle>

<div class="page">
    <div class="sidebar top-0 border-end border-bottom">
        <NavMenu/>
    </div>
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>