@page "/settings"

<PageTitle>Feedster - Settings</PageTitle>

<div class="container max-w-[40em]">
  <h5 class="mb-2 font-bold tracking-tight dark:text-white space-mono" style="font-size: 3.5em">Settings (WIP)</h5>

  <h5 class="mb-2 font-bold tracking-tight dark:text-white space-mono" style="font-size: 2.5em">Articles</h5>
  <label cla>Delete articles after...</label>
  <select id="countries" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected>Select duration</option>
    <option value="US">1 Week</option>
    <option value="CA">2 Weeks</option>
    <option value="FR">1 Month</option>
    <option value="DE">3 Months</option>
    <option value="">Never</option>
  </select>
</div>



@code {
    
}