@page "/feed/{feedId:int}"
@inject FeedRepository _feedRepo

<PageTitle>Feedster - @_feed.Name</PageTitle>
<h5 class="mb-2 font-bold tracking-tight dark:text-white" style="font-size: 3.5em">@_feed.Name</h5>

<!-- ARTICLE CARDS -->
<ArticlesList _allArticles=@_articles />

@code {
    [Parameter]
    public int feedId { get; set; }
    
    // FOR ARTICLE DISPLAY
    private List<Article> _articles = new();
    private Feed _feed;
    
    protected override async Task OnInitializedAsync()
    {
        await LoadFeed();
        await LoadArticles();
    }
    
    private async Task LoadFeed()
    {
        _feed = await _feedRepo.Get(feedId);
    }
    
    private async Task LoadArticles()
    {
        _articles = _feed.Articles;
    }
}